<div class="jumbotron">
  <p>por trás dos panos..</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://avatars0.githubusercontent.com/u/1180405?v=3&s=460" alt="Thaís Bione">
      <div class="caption">
        <h3>@thaisbione</h3>
        <p>
          <a href="https://github.com/thaisbione" target="_blank" class="btn btn-default" role="button">Github</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://avatars0.githubusercontent.com/u/2343288?v=3&s=460" alt="Thulio Philipe">
      <div class="caption">
        <h3>@thulioph</h3>
        <p>
        <a href="https://github.com/thulioph/" class="btn btn-default" target="_blank" role="button">Github</a></p>
      </div>
    </div>
  </div>
</div>
