<div class="row">
  <aside class="box col-sm-6 col-sm-offset-3 ng-scope">
    <figure class="hang">
      <img src="../images/logo-primary.svg" alt="Logo WeCare">
    </figure>
  </aside>
</div>

<aside class="row share">
  <ul>
    <li class="col-sm-3">
      <iframe
      src="https://ghbtns.com/github-btn.html?user=projeto-we-care&repo=projeto-we-care.github.io&type=star&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="160px"
      height="30px">
      </iframe>
    </li>

    <li class="col-sm-3">
      <iframe
      src="https://ghbtns.com/github-btn.html?user=projeto-we-care&repo=projeto-we-care.github.io&type=fork&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="158px"
      height="30px">
      </iframe>
    </li>

    <li class="col-sm-3">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/projeto-we-care/" data-text="Projeto WeCare, somos a ponte entre quem precisa e quem quer ajudar." data-size="large" data-hashtags="#ProjetoWeCare">Tweet</a>
    </li>

    <li class="col-sm-3">
      <div class="fb-like" data-href="https://www.facebook.com/ProjetoWeCare" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </li>
  </ul>
</aside>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=833927710037737";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
