<aside class="box col-sm-6 col-sm-offset-3 ng-scope">
  <figure class="hang">
    <img src="../images/logo-primary.svg" alt="Logo WeCare">
  </figure>
</aside>

<aside class="row share">
  <ul>
    <li class="col-sm-4">
      <iframe
      src="https://ghbtns.com/github-btn.html?user=projeto-we-care&repo=projeto-we-care.github.io&type=star&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="160px"
      height="30px">
      </iframe>
    </li>

    <li class="col-sm-4">
      <iframe
      src="https://ghbtns.com/github-btn.html?user=projeto-we-care&repo=projeto-we-care.github.io&type=fork&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="158px"
      height="30px">
      </iframe>
    </li>

    <li class="col-sm-4">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/projeto-we-care/" data-text="Projeto WeCare, somos a ponte entre quem precisa e quem quer ajudar." data-size="large" data-hashtags="#ProjetoWeCare">Tweet</a></li>
  </ul>
</aside>
